
#background_div {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    min-width: 660px;
}

h1 {
  text-align:center;  
}


#bg_img {
    position: absolute;
    width:100%;
    overflow: hidden;
    top:0;
    left:0;
}

#main {
    position:relative;
    top:0;
    margin: 30px auto 0;
    width: 600px;
}

div#copy {
    position:relative;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

textarea {
    margin-top: 20px;
    width: 100%;
    background-color: white;
}
